<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Sản phẩm</h1>
    </mat-toolbar>
    <br/>
    <mat-card-title class="list-game-wrapper__header">
        <p *ngIf="id == undefined" class="list-game-wrapper__title">Thêm mới</p>
        <p *ngIf="id != undefined" class="list-game-wrapper__title">Sửa</p>
    </mat-card-title>
    <form [formGroup]="gameForm" class="form-signin">
        <mat-tab-group>
            [(selectedIndex)]="TabIndex" (selectedTabChange)="changeTabValid($event)"
            <mat-tab>
                <ng-template mat-tab-label>
                    Thông tin cơ bản
                </ng-template>
                <div class="container" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-sm-6 left-col q-col">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Tên Game</mat-label>
                                    <input type="text" placeholder="Tên Game" matInput formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6 right-col q-col">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <select formControlName="categoryId" matNativeControl>
                                        <option value="0" selected>Vui lòng chọn thể loại game</option>
                                        <option *ngFor="let category of categories" [value]="category.id">
                                            {{ category.name }} ({{category.description}})
                                        </option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 left-col q-col">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Công ty phát hành</mat-label>
                                    <input type="text" placeholder="Công ty phát hành" matInput
                                           formControlName="companyName" (keydown)="onKeydown($event)"
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option1 of filteredOptionsCompany | async"
                                                    [value]="option1">
                                            {{option1}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6 right-col q-col">
                            <div class="form-group">
                                <mat-radio-group aria-label="Select an option" formControlName="type">
                                    <mat-radio-button value="Mobile">Mobile</mat-radio-button>
                                    <mat-radio-button value="Desktop">Desktop</mat-radio-button>
                                    <mat-radio-button value="Multiple-Platform">Multiple-Platform</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 left-col q-col">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Thị Trường Game</mat-label>
                                    <input type="text" placeholder="Thị Trường Game" matInput
                                           formControlName="marketType" (keydown)="onKeydown($event)"
                                           [matAutocomplete]="autoNationality">
                                    <mat-autocomplete #autoNationality="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>ID video on youtube</mat-label>
                                    <input type="text" placeholder="Link youtube" matInput
                                           (focusout)="onchangeLink($event)"
                                           formControlName="youtubeLink">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <select formControlName="gamePriority" matNativeControl>
                                        <option value="0" selected>Vui lòng chọn top game nếu cần</option>
                                        <option [value]="1">Hot</option>
                                        <option [value]="2">Top</option>
                                        <option [value]="3">New</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <a style="color: red;font-size: 10px;">Phải đủ số lượng game: HOT: càng nhiều càng tốt -
                                TOP: ít nhất là 3 - NEW: nhỏ nhất là 5 thì website Trunggame mới đẹp</a>
                        </div>
                        <div class="col-sm-6 right-col q-col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <!-- <label for="imageId">Ảnh</label> <br> -->
                                        Size ảnh : 320 x 440
                                        <input type="file"  class="form-control-file"
                                               (change)="onFileChanged($event)">
                                        <img [src]="url" style="max-width: 100px; margin: 20px;" alt="">
                                        <br/>
                                        <span>{{fullUrl}}</span>
                                        <br/>
                                        <button class="btn btn-warning"  (click)="onDeleteFile()">
                                            Xoá Ảnh
                                        </button>
                                    </div>
                                </div>
                                <div class="col">
                                    <iframe width="100%" height="300" [src]="link | safe"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 left-col q-col">
                            <div class="form-group">
                                <mat-label>Mô tả Tiếng Anh</mat-label>
                                <ckeditor data="<p>Mô tả Tiếng Anh</p>" formControlName="descriptionEn">
                                </ckeditor>
                            </div>
                        </div>
                        <div class="col-sm-6 right-col q-col">
                            <div class="form-group">
                                <mat-label>Mô tả ngắn</mat-label>
                                <ckeditor data="<p>Mô tả Ngắn </p>" formControlName="description">
                                </ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Thông tin giới thiệu
                </ng-template>
                <div class="content">
                    <label for="contentVi">Nội dung chi tiết game</label>

                    <ckeditor data="<p>Nội dung chi tiết game</p>" formControlName="contentVi"></ckeditor>
                </div>
                <div class="content">
                    <label for="contentEn">Nội dung chi tiết Tiếng Anh</label>

                    <ckeditor data="<p>Nội dung chi tiết Tiếng Anh</p>" formControlName="contentEn"></ckeditor>
                </div>
            </mat-tab>
        </mat-tab-group>

    </form>
    <div class="submitButton">
        <button class="btn btn-warning" *ngIf="id != undefined" (click)="onDelete(id)"
                [disabled]="createGame">{{status === 'ACTIVE' ? 'Khoá game' : 'Mở Game'}}
        </button>
        <button class="btn btn-primary" *ngIf="id == undefined" (click)="onCreateGame()" [disabled]="createGame">Thêm
        </button>
        <button class="btn btn-primary" *ngIf="id != undefined" (click)="onUpdateGame(0)" [disabled]="createGame">Lưu
        </button>

        <button class="btn btn-warning btn-back" routerLink="{{routes.GAMES}}">Trở về</button>
    </div>
    <app-footer></app-footer>
</app-layout>
