@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';
.tables-wrapper {
    padding: 0 8px;
}

.form-control {
    width: 500px;
}

.image {
    padding: 10px 10px;
    // padding-bottom: 100px;
}

.list-game-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin: 16px 16px 32px 16px;
    box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
    &__header {
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $small) {
            padding: 0 16px;
        }
    }
    &__title {
        margin: 0;
    }
    &__search {
        display: flex;
        align-items: center;
    }
    &__icon-wrapper {
        height: 46px;
        width: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        color: inherit;
    }
    &__search-input {
        font-size: $fs-normal;
        height: 32px;
        border: 0;
        border-bottom: 1px solid $grey;
        outline: none;
        @media (max-width: $small) {
            width: 150px;
        }
        &:focus {
            border-bottom: 2px solid $blue;
        }
    }
    &__button {
        box-shadow: none;
        background-color: inherit;
        width: 46px;
        height: 46px;
        color: $grey;
        &:hover {
            background-color: $black-08;
            color: $blue;
        }
    }
}

.mat-radio-button {
    cursor: pointer;
    padding: 0 20px;
}

.example-full-width {
    width: 100%;
    background: white;
    height: fit-content;
}

.textarea {
    resize: none;
    overflow: auto;
}

.content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.mat-form-field-wrapper {
    background: white;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
}

mat-select {
    border: 0px !important;
}

.mat-form-field-infix {
    float: right;
}

::ng-deep .mat-select-panel-wrap {
    .mat-select-panel {
        .box-search {
            margin: 8px;
            border-radius: 2px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
            display: flex;
            mat-checkbox {
                width: 36px;
                line-height: 33px;
                color: #808080;
                text-align: center;
            }
            input {
                flex: 1;
                border: none;
                outline: none;
                &.pl-1 {
                    padding-left: 1rem;
                }
            }
            .box-search-icon {
                button {
                    width: 36px;
                    height: 36px;
                    line-height: 33px;
                    color: #808080;
                }
            }
        }
        mat-option {
            h4 {
                font-weight: 100;
            }
            mat-pseudo-checkbox {}
            span {
                overflow: initial;
                >div {
                    line-height: 0rem;
                    p {
                        font-size: smaller;
                        margin: 0;
                    }
                }
            }
            &.selected-options {
                visibility: hidden;
                position: absolute;
            }
        }
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #ff884d;
    }
    .mat-form-field-ripple {
        background-color: #ff884d;
    }
    .mat-form-field-required-marker {
        color: #ff884d;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: red;
    }
    .mat-form-field-label {
        color: red;
        .mat-form-field-required-marker {
            color: red;
        }
    }
    .mat-form-field-ripple {
        background-color: red;
    }
}

.submitButton {
    display: flex;
    justify-content: center;
}

.submitButton .btn {
    width: 80px;
    margin: 10px;
}

.form-signin {
    width: 98%;
    margin-top: 20px;
    background-color: white;
}