<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Bài viết</h1>
    </mat-toolbar>

    <div class="tables-wrapper">
        <mat-card class="list-game-wrapper">
            <mat-card-title class="list-game-wrapper__header">
                <p *ngIf="id != undefined" class="list-package-wrapper__title">Sửa bài viết</p>
                <p *ngIf="id == undefined" class="list-package-wrapper__title">Thêm bài viết</p>
            </mat-card-title>
            <mat-card-content class="list-game__content">
                <form style="margin-left: 50px;" [formGroup]="blogForm" action="" method="POST">
                    <div class="container" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-sm-12 left-col q-col">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Url</mat-label>
                                        <input type="text" matInput formControlName="link">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 right-col q-col">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Tiêu đề</mat-label>
                                        <input type="text" matInput formControlName="title">
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Tác giả</mat-label>
                                        <input type="text" matInput formControlName="author">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6 q-col">

                                <div class="form-group">
                                    Size ảnh là: 400 x 200
                                    <input type="file" class="form-control-file" (change)="onFileChanged($event)">
                                    <img [src]="url" style="max-width: 100px; margin: 20px;" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 left-col q-col">
                                <div class="form-group example-full-width">
                                    <mat-label>Mô tả (VI)</mat-label>
                                    <ckeditor data="<p>Mô tả (EN)</p>" formControlName="contentVI">
                                    </ckeditor>
                                </div>
                            </div>
                            <div class="col-sm-6 right-col q-col">
                                <div class="form-group example-full-width">
                                    <mat-label>Mô tả (EN)</mat-label>
                                    <ckeditor data="<p>Mô tả (EN)</p>" formControlName="contentEN">
                                    </ckeditor>
                                </div>
                                <div class="form-group">
                                    <span>Trạng thái: {{status}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 submitButton">
                                <button *ngIf="id != undefined" type="submit" class="btn btn-primary btn-edit"
                                        (click)="onUpdateBlog()" [disabled]="successProcess">Sửa
                                </button>
                                <button *ngIf="id != undefined" type="submit" class="btn btn-warning btn-edit"
                                        (click)="onChangeStatus()" [disabled]="changeStatus">Change status
                                </button>
                                <button *ngIf="id == 0 || id == undefined" type="submit"
                                        class="btn btn-primary btn-edit" (click)="onCreateBlog()"
                                        [disabled]="successProcess">Thêm
                                </button>
                                <button class=" btn btn-warning btn-back " routerLink="{{routes.BLOG}}">Trở về</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <app-footer></app-footer>
</app-layout>
