<mat-card class="list-game-wrapper">
    <mat-card-title class="list-game-wrapper__header">
        <div class="list-game-wrapper__search" style="width:70%">
            <div class="list-game-wrapper__search" >
                <div class="list-game-wrapper__icon-wrapper">
                    <mat-icon class="list-game-wrapper__icon">search</mat-icon>
                </div>
                <input matInput class="list-game-wrapper__search-input" placeholder="Tìm kiếm" (keyup)="applyFilter($event)" autocomplete="on">
            </div>
        </div>
        <button mat-flat-button routerLink="{{routes.CREATE_GAMES}}" routerLinkActive="active">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content class="list-game__content">
        <table class="list-game__table" mat-table [dataSource]="dataSource">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th class="list-game__table-checkbox" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td class="list-game__table-checkbox" mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Name</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <!-- State Column -->
            <ng-container matColumnDef="thumbnail">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Thumbnail</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element">
                    <img src="{{element.imageUrl}}" style="max-width: 50px;" alt="element.imageUrl">
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Type</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryName">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Danh mục</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
            </ng-container>
            <ng-container matColumnDef="marketType">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Thị trường</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element"> {{element.marketType}} </td>
            </ng-container>
            <ng-container matColumnDef="companyName">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Công ty</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Status</th>
                <td class="list-game__table-body list-game__content-badge" mat-cell *matCellDef="let element"><span [ngClass]="element.status">{{element.status}}</span></td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="list-game__table-header" mat-header-cell *matHeaderCellDef> Hành động</th>
                <td class="list-game__table-body" mat-cell *matCellDef="let element">
                    <button class="list-game-wrapper__button" routerLink="{{routes.EDIT_GAMES}}/{{element.id}}" routerLinkActive="active" mat-mini-fab>
                        <mat-icon class="list-game-wrapper__q-icon">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </mat-card-content>
    <div class="pagination">
        <mat-paginator [pageSizeOptions]="[5,10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>
