agm-map {
  height: 700px;
}

.wrapper {
  padding: 45px 40px 50px;
  max-width: 350px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.10196078431372549);
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.wrapper h2 {
  margin: 0;
  line-height: normal;
  padding: 0 0 20px;
  font-size: 18px;
  font-family: sans-serif;
}

.file-upload {
  display: block;
  background-color: #e7ecf3;
  padding: 18px 0px;
  border-radius: 8px;
}

.file-upload button {
  background: #6314ef;
  padding: 9px 20px;
  color: white;
  border: none;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid blue;
}


.mat-tab-group {
  margin-bottom: 48px;
}

.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 0 10px;
}

.the-fieldset {
  border: 1px solid #e0e0e0;
  padding: 10px;
}


.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px / 2 - 5px);
}

.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}

.evtHover:hover {
  text-decoration: underline;
  color: #0c83e2;
  size: 20px;
  cursor: pointer;
}

.wrap-mat-radio-label {
  white-space: normal;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.viewMatButton {
  color: red;
  background-color: red;
}

.btn-success{
  background: #036fc2 !important;
}
.mat-header-cell{
  min-width: 120px !important;
}
.mat-cell{
  min-width: 120px !important;
}
.mat-table{
  width: 100%;
}
.small-button{
  font-size: 15px;
  cursor: pointer;
}
