.example-full-width {
    width: 400px;
    background: rgb(255, 255, 255);
    height: fit-content;
}

.q-btn {
    text-align: center;
}

.q-btn button {
    margin: 0 10px;
}
#create-category{
    height: 600px;
}
