<mat-card-title class="list-category-wrapper__header">
    <p *ngIf="id != 0" class="list-category-wrapper__title">Sửa danh mục</p>
    <p *ngIf="id == 0" class="list-category-wrapper__title">Thêm danh mục</p>
</mat-card-title>
<mat-card-content id="create-category">
    <form style="margin-left: 50px;" [formGroup]="categoryForm" action="" method="POST">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tên danh mục</mat-label>
                <input type="text" matInput formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="form-group example-full-width">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mô tả</mat-label>
                <input type="text" matInput formControlName="description" required>
            </mat-form-field>
        </div>
        <!--        <div class="form-group">-->
        <!--            <mat-form-field class="example-full-width" appearance="fill">-->
        <!--                <mat-label>Danh mục cha</mat-label>-->
        <!--                <select formControlName="parentCategoryId" matNativeControl>-->
        <!--                    <option value="0" selected>Chọn</option>-->
        <!--                    <option *ngFor="let category of categories" [value]="category.id">-->
        <!--                        {{ category.name }} ({{category.description}})-->
        <!--                    </option>-->
        <!--                </select>-->
        <!--            </mat-form-field>-->
        <!--        </div>-->
    </form>
    <div class="q-btn">
        <button *ngIf="id != 0" type="submit" class="btn btn-primary btn-edit" (click)="onUpdateCategory()">Sửa</button>
        <button *ngIf="id == 0 || id == undefined" type="submit" class="btn btn-primary btn-edit"
                (click)="onUpdateCategory()">Thêm
        </button>
        <button class="btn btn-warning btn-back" matDialogClose>Trở về</button>
    </div>
</mat-card-content>
