<mat-card class="user-table-wrapper">
    <mat-card-title class="user-table-wrapper__header">
        <div class="user-table-wrapper__search" style="width:70%">
            <div class="user-table-wrapper__icon-wrapper">
                <mat-icon class="user-table-wrapper__icon">search</mat-icon>
            </div>
            <input matInput class="user-table-wrapper__search-input" placeholder="Tìm kiếm" (keyup)="applyFilter($event)" autocomplete="on">
        </div>
        <p *ngIf="!isShowFilterInput">
            <span class="user-table-wrapper__q-span">
                <button class="ds_list" id="all" (click)="getAllUser()">Tất cả</button>
            </span> | <span class="user-table-wrapper__q-span">
            <button class="ds_list" id="active" (click)="getUser()">Hoạt động</button>
        </span> | <span class="user-table-wrapper__q-span">
            <button class="ds_list" id="deleted" (click)="getDeletedUser()">Tạm dừng</button>
        </span>
        </p>
    </mat-card-title>
    <mat-card-content class="user-table__content">
        <table class="user-table__table" mat-table [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th class="user-table__table-checkbox" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td class="user-table__table-checkbox" mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="username">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Tài khoản</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="email">-->
<!--                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Email</th>-->
<!--                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.email}} </td>-->
<!--            </ng-container>-->

            <!-- Company Column -->
            <ng-container matColumnDef="fullName">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Tên</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <!-- City Column -->

            <!-- State Column -->
            <ng-container matColumnDef="address">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Địa chỉ</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> SĐT</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="roles">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Phân quyền</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element"> {{element.roles[0].name}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Trạng thái</th>
                <td class="user-table__table-body user-table__content-badge" mat-cell *matCellDef="let element"><span [ngClass]="element.status">{{element.status}}</span></td>
            </ng-container>

            <ng-container matColumnDef="action" >
                <th class="user-table__table-header" mat-header-cell *matHeaderCellDef> Hành động</th>
                <td class="user-table__table-body" mat-cell *matCellDef="let element" >
<!--                    <button class="user-table-wrapper__button" routerLink="{{routes.EDIT_USER}}/{{element.id}}" routerLinkActive="active" mat-mini-fab>-->
<!--                        <mat-icon class="user-table-wrapper__q-icon">edit</mat-icon>-->
<!--                    </button> |-->
                    <button class="btn btn-warning " *ngIf="element.status === 'ACTIVE'" (click)="onDeleteUser(element)" >
                        Khoá acc
                    </button>
                    <button class="btn btn-success " *ngIf="element.status !== 'ACTIVE'" (click)="onChangeStatus(element)" >
                        Mở khoá
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </mat-card-content>
    <div class="pagination">
        <mat-paginator [pageSizeOptions]="[5,10, 15, 100]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>
